* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: 'SF Pro Text', sans-serif;
    font-size: 13px;
}

window#waybar {
    background-color: rgba(0, 0, 0, 0);
    color: #d3c6aa;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #FFFFFF;
}
*/

window#waybar.termite {
    background-color: #3F3F3F;
}

window#waybar.chromium {
    background-color: #000000;
    border: none;
}

button {
    /* Use box-shadow instead of border so the text isn't offset */
    /* Avoid rounded borders under each button name */
    border: none;
    border-radius: 10px;
    padding: 0px;
    margin-left: 2px;
    margin-right: 2px;
    padding-right: 4px;
    padding-left: 4px;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    background: inherit;
}

#workspaces {
  border-radius: 10px;
  background-color: #363a4f;
  padding:2px;
}

#workspaces button {
    background-color: #8087a2;
    color: #d3c6aa;
}

#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
}

#workspaces button.active {
    color: #181926;
    background-color: #b7bdf8;
    padding-right: 14px;
    padding-left: 14px;
}


#workspaces button.urgent {
    color: #e67e8c;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#mpd
#powermenu{
    padding: 0 10px;
    margin-top: 3px;
    margin-bottom: 3px;
    color: #cdd6f4;
    border-radius: 10px;
    box-shadow: 1px 1px 2px 1px #101010;
}

#window,
#workspaces {
    margin: 4px;
    box-shadow: 1px 1px 2px 1px #101010;
}

#clock {
    background-color: #45475a;
    color: #cdd6f4;
    font-weight: bold;
    margin-right: 7px;
}

#battery {
    background-color: #45475a;
    color: #cdd6f4;
}

#battery.charging, #battery.plugged {
    color: #2d353b;
    background-color: #a6e3a1;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    background-color: #000000;
}

#cpu {
    background-color: #45475a;
    color: #cdd6f4;
}

#memory {
    background-color: #45475a;
    margin-right: 10px;
}

#disk {
    background-color: #45475a;
}

#backlight {
    background-color:#45475a;
}

#network {
    background-color: #45475a;
    color: #cdd6f4;
}

#network.disconnected {
    background-color: #e67e80;
    color: #232a2e;
}

#pulseaudio {
    background-color: #f9e2af;
    color: #232a2e;
}

#pulseaudio.muted {
    background-color: #dbbc7f;
    color: #2a5c45;
}

#wireplumber {
    background-color: #fff0f5;
    color: #000000;
}

#wireplumber.muted {
    background-color: #f53c3c;
}

#custom-media {
    background-color: #66cc99;
    color: #2a5c45;
    min-width: 100px;
}

#custom-media.custom-spotify {
    background-color: #66cc99;
}

#custom-media.custom-vlc {
    background-color: #ffa000;
}

#temperature {
    background-color: #f0932b;
}

#temperature.critical {
    background-color: #eb4d4b;
}

#tray {
    background-color: #2980b9;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}

#idle_inhibitor {
    background-color: #2d3436;
}

#idle_inhibitor.activated {
    background-color: #ecf0f1;
    color: #2d3436;
}

#mpd {
    background-color: #66cc99;
    color: #2a5c45;
}

#mpd.disconnected {
    background-color: #f53c3c;
}

#mpd.stopped {
    background-color: #90b1b1;
}

#mpd.paused {
    background-color: #51a37a;
}

#language {
    background: #00b093;
    color: #740864;
    padding: 0 5px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state {
    background: #97e1ad;
    color: #000000;
    padding: 0 0px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state > label {
    padding: 0 5px;
}

#keyboard-state > label.locked {
    background: rgba(0, 0, 0, 0.2);
}

#scratchpad {
    background: rgba(0, 0, 0, 0.2);
}

#scratchpad.empty {
	background-color: transparent;
}
